<div class="container">
    <p>ここにメッセージをひょじbooks#index</p>
    <div class="row">
        
       <%= render "layouts/leftbar", book: @book %>     
             
        
        
        <div class="col-8 offset-md-1">
            <h2>Books</h2>
            
            <table class="table">
                <tr>
                   <th>Title</th>
                   <th>Opinion</th>
                </tr>
                
                <% @books.each do |book| %>
                    <tr>
                        <td><%= book.title %></td>
                        <td><%= book.body %></td>
                    </tr>
                <% end %>
                
                
            </table>
            
            
            
        </div>
    </div>
</div>