<div class="container p-3">
    
    
    <div class="row">
        <p id="notice"></p>
        <!--見出し-->
        <h1 class="mx-auto px-3">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong></h1>
    
        
    </div>
    
    
</div>